<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>express_basic_acceptance_s2-3</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>
<body>
  <header>
    <nav class="mt-sm-2">
      <div class="container d-flex flex-row justify-content-between">        
        <a class="btn btn-secondary" href="/" role="button">回到首頁</a>
        <div>
          <a class="btn btn-secondary ms-1" href="/about" role="button">About</a>
          <a class="btn btn-secondary ms-1" href="/portfolio" role="button">Portfolio</a>
          <a class="btn btn-secondary ms-1" href="/contact" role="button">Contact</a>
        </div>
      </div>
    </nav>
  </header>
  <div class="mt-sm-5 mx-auto w-75">
  {{{ body }}}
  </div>
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>
</html>